.section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-top{
    background:#E1E1E1; 
    color:#515151 ;
    border-bottom: 1px solid #222222
    padding: 60px 0 30px 0;
}
.footer-top  .footer-info{
    margin-bottom: 45px;
}
.footer-top  .footer-info h3{
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 12px 0 12px 0;
    line-height: 1;
    font- font-weight: 700;
    text-transform: uppercase;
}
.footer-top  .footer-info p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
.footer-top  .social-links a{
    width: 36px;
    height: 36px;
    background:#E6E6E6
    display: inline-block;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
}